html {

  height: 100%;
  margin: 0;
  padding: 0;
}

body {

    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(/b677e39cd5ea7e9ade13.png);
    background-repeat: no-repeat;
    background-size:cover;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    padding-right: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.1);
  }


#cover {

    position:absolute;
    left: 12px;
    top: 12px;
    right: 12px;
    bottom: 100px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid grey;
    font-family: 'Tangerine', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.SpacingDiv {

    flex: 0 0 auto;
    height: 5%;
}

.BoldText {

    font-size: min(16vh, 10vw);
    font-weight: bold;
}

.LargeText {

    font-size: min(11vh, 9vw);
}

.NormalText {

    font-size: min(10vh, 8vw);
}

.SmallText {

    font-size: min(7vh, 5vw);
}    

.ContainerDiv {

    background: rgba(0, 0, 0, 0.0);

    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 4px;
}

.RowDiv {

    background: rgba(0, 0, 0, 0.0);

    flex: 0 0 auto;

    margin: 4px;
}

/* Always set the map height explicitly to define the size of the div element that contains the map. */
#map {

    height: 100%;
    visibility: hidden;
}

#points {

    position: fixed;
    left: 10px;
    top: 60px;
    bottom: 30px;
    width: 250px;
    resize: none;
    opacity: 0.5;
}

.hidden {
    
    display: none;
}

