html {

  height: 100%;
  margin: 0;
  padding: 0;
}

body {

    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../public/bk2.png);
    background-repeat: no-repeat;
    background-size:cover;
}

#cover {

    position:absolute;
    left: 12px;
    top: 12px;
    right: 12px;
    bottom: 20%;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid grey;
    font-family: 'Tangerine', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.SpacingDiv {

    flex: 0 0 auto;
    height: 5%;
}

.BoldText {

    font-size: min(16vh, 16vw);
    font-weight: bold;
}

.LargeText {

    font-size: min(11vh, 11vw);
}

.NormalText {

    font-size: min(10vh, 10vw);
}

.SmallText {

    font-size: min(7vh, 7vw);
}    

.ContainerDiv {

    background: rgba(0, 0, 0, 0.0);

    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 4px;
}

.RowDiv {

    background: rgba(0, 0, 0, 0.0);

    flex: 0 0 auto;

    margin: 4px;
}

/* Always set the map height explicitly to define the size of the div element that contains the map. */
#map {

    height: 100%;
    visibility: hidden;
}

#points {

    position: fixed;
    left: 10px;
    top: 60px;
    bottom: 30px;
    width: 250px;
    resize: none;
    opacity: 0.5;
}

.hidden {
    
    display: none;
}
