html {

    height: 100%;
    margin: 0;
    padding: 0;
  }
  
body {
  
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../public/bk2.png);
    background-repeat: no-repeat;
    background-size:cover;
}
  
::-webkit-scrollbar {

    width: 0px;
}

#cover {

    position:absolute;
    left: 12px;
    top: 12px;
    right: 12px;
    bottom: 50px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid grey;
    font-family: 'Tangerine', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.BoldText {

    font-weight: bold;
}

.LargeText {

    font-size: min(16vh, 14vw);
}

.SmallText {

    font-size: min(12vh, 8vw);
}    

.ContainerDiv {

    background: rgba(0, 0, 0, 0.0);

    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 4px;
}

.RowDiv {

    background: rgba(0, 0, 0, 0.0);

    flex: 0 0 auto;

    margin: 4px;
}

#BottomRow {

    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.FakeButton {

    margin-left: 40px;
    margin-right: 40px;
    flex: 0 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 8px;
    background: white;
    border: 1px solid black;
    border-radius: 6px;
    width: 100px;
    text-align: center;
}

/* Always set the map height explicitly to define the size of the div element that contains the map. */
#map {

    height: 100%;
    visibility: hidden;
}

#points {

    position: fixed;
    left: 10px;
    top: 60px;
    bottom: 30px;
    width: 250px;
    resize: none;
    opacity: 0.5;
}

.hidden {
    
    display: none;
}
